*{

  margin: 0}
body{
  margin: 0;
}
nav{
  background-color: #A7D3DC;
  height: 80px;

}
nav>a>i{
  margin-top: 40px;
  margin-left: 130px;
  font-size: 25px;
  font-weight: bold;
  margin-right: 15px;
}
nav a{
    font-size: 25px;
    text-decoration: none;
    color: #394849;
    padding: 10px;
    margin: 10px;
}
nav ul{
  display: inline;
  float: right;
  margin-right: 0px;
  margin-top: 47px;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  font-size: 16px;
  font-family: sans-serif;
}
nav ul li a:hover{
  color: #A7D3DC;
  background-color: #394849;
  border-radius: 10px;
}
/*header*/
header{
  background-color: #A7D3DC;

}
header >div >h1{
  padding: 100px;
  color: white;
  font-weight: bold;
  padding-left: 200px;
}
header div img{
  height: 180px;
  width: 180px;
  padding-top: 70px;
}
.header{

  display: inline-block;
}
.img{
  width: 40%;
  float: right;

}
header>div>ul{
  margin-left: 440px;
}
header>div>ul>li{
  display: inline;
  padding: 3px;
}
.fa-circle-thin{
  color:white;
}
.fa-circle{
  color:white;
}
.wrap{
  margin: auto;
  margin-top: 45px;
  width: 90%;

}
section img {
  height: 70px;
  width: 80px;
}
section p{
  font-size: 10px;
  font-family: sans-serif;
}
section h6{
  margin-top: 5px;
  font-size: 18px;
  font-family: sans-serif;
}
.flat{
  text-align: center;
  display: inline-block;
  padding: 25px;
  padding-left: 80px;
}
.ideas{
  text-align: center;
  display: inline-block;
  padding: 25px;
}
.compatibility{
  text-align: center;
  display: inline-block;
  padding: 25px;
}
.work{
  background-color: #98D3A5;
}
.works{
  margin: 0 auto;
  background-color: #98D3A5;
  width: 80%;
  text-align: center;
  color: white;
}
h5{

  font-size:30px;
  padding-top: 50px;
}
section div ul{
  padding-top: 40px;
}
section div ul li{
  display: inline-block;
}
section div ul li a{
  font-family: sans-serif;
  font-size: 12px;
  margin: 0 20px 0 20px;
  text-decoration: none;
  color: inherit;
}
.all{
  background-color: white;
  color:#98D3A5;
  padding: 5px;
  border-radius: 5px;
  margin-right: 15px;
}
.web{
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  margin: 0 15px 0 15px;
}
section div ul li img{
  /*border: 1px solid grey;*/
  height: 200px;
  width: 200px;
  margin: 5px 10px 20px 10px;
  /*background-color: white;*/
}
button{
  border: none;
  background-color: white;
  padding: 10px;
  color: grey;
  border-radius: 5px;
  margin: 30px 0 50px 40px;
}
.template{
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-family: sans-serif;
}
section>img{
  display: inline-block;
  height: 200px;
  width: 200px;
  border-color: white;
  padding-top: 30px;
}
.one{
  padding-top: 5px;
  text-align: left;
}
.temp{
  background-color: #98D3A5;
  margin: 10px 220px 10px  0;
}
.page{
  background-color: #A7D3DC;
  margin: 10px 220px 10px  0;
}
.left{
  float:right;
  padding-top: 80px;
  padding-right: 80px;

}
.right{
  float:left;
  padding-top: 80px;
  padding-left: 80px;
}
.team{
  text-align: center;
  background-color: #DFB6C6;
  color: white;
}
.contact{

  background-color: #E8E8E8;
  color: black;
  margin: 0 20px 40px 20px;
}
h4{
  font-size: 24px;
  background-color: white;
  font-family: sans-serif;

}
h2{
  font-family: sans-serif;
  font-size: 14px;
  background-color: white;
  padding: 20px;
}
section>div>ul>li>p{

  background-color: white;
  color:lightgrey;
  padding-bottom: 5px;
}
section>div>ul>li>ul{
  background-color: #E8E8E8;

  padding: 10px;
}
section>div>ul>li>ul>li{
  margin: 0 5px;
}
.fa-facebook-square{
  color:blue;
  background-color: white;
}
.fa-twitter-square{
  color:blue;

}
.fa-pinterest{
  color:red;
}
.post{
  margin:0;
  text-align: center;
  color: white;
  background-color: #A7D3DC;
}
.reach{
  text-align: center;
  background-color: #3B3B3B;
  color: white;
}
input{
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  width: 300px;
  display: block;
  border-radius: 5px;
  border: none;
}
textarea{

  font-family: 'arial', sans-serif;
  border: none;
  border-radius: 5px;
  padding: 5px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer hr{
  margin: auto;
  margin-bottom: 10px;
  width: 70%;
}
footer ul{
  margin:0;
  width: 40%;


  float: left;
  display: inline;
  background-color: #3B3B3B;
}
footer li{
  display: inline;
  list-style: none;

  margin-left: 20px;

  border: none;
  border-radius: 15px;

}

footer div ul li a{
  color:white;
  text-decoration: none;
  text-align: center;

}
footer p{
  font-size: 12px;
  font-family: sans-serif;
  color: white;
  padding-top: 5px;
}

span{
  color: #796C53;
}
